<nav class = "nav navbar-default">
  <div class = "container-fluid">
    <div class = "navbar-header">
      <a routerLink = "/" class = "navbar-brand">SNR</a>
    </div>
    <div class = "navbar-collapse">
      <ul class = "nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/info-by-stockpile">Information By Stockpile</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/summary-info">Summary Information</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/about">About Site</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
